body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background-color: #007BFF;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav li {
    margin-left: 1rem;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.content {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #007BFF;
}

.imagem-destino {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 1rem;
}

ul {
    list-style: disc;
    margin-left: 2rem;
}

ul li {
    margin-bottom: 0.5rem;
}

footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}
